<p id="notice"><%= notice %></p>

<h1>Ethnicities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ethnicities.each do |ethnicity| %>
      <tr>
        <td><%= link_to 'Show', ethnicity %></td>
        <td><%= link_to 'Edit', edit_ethnicity_path(ethnicity) %></td>
        <td><%= link_to 'Destroy', ethnicity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ethnicity', new_ethnicity_path %>
